<header class="header">
  <div class="container header-container">
<a class="logo" href="">yachtjet</a>
<nav class="nav-links">
  <ul class="nav-links-list">
    <li class="nav-links-li">
      <a class="nav-links-a" href="">about</a>
    </li>
    <li class="nav-links-li">
      <a class="nav-links-a" href="">yachts</a>
    </li>
    <li class="nav-links-li">
      <a class="nav-links-a" href="">reviews</a>
    </li>
  </ul>
</nav>
<button class="button-menu" type="button">
  <svg class="button-svg" width="28" height="28" aria-label="button-icon">
    <use href="../img/svg/icons.svg#icon-menu"></use>
  </svg>
</button>
  </div>
</header>
