<section class="our-yachts-section">
    <div class="container our-yachts-div">
<h2 class="our-yachts-title">Choose your dream yacht and sail away into the sunset</h2>    
<div class="our-yachts-div-two">
<ul>
    <li class="list-first">
        <picture>
        <source srcset="./img/yachts/yaht1_desk2.jpg, ./img/yachts/yaht1_desk2@2x.jpg 2x"
            media="(min-width: 1440px)" width="360" height="268" />
        <source srcset="./img/yachts/yaht1_desk1.jpg, ./img/yachts/yaht1_desk1@2x.jpg 2x"
            media="(min-width: 1280px)" width="345" height="268" />
        <source srcset="./img/yachts/yaht1_tab.jpg, ./img/yachts/yaht1_tab@2x.jpg 2x"
            media="(min-width: 768px)" width="304" height="268" />
        <source srcset="./img/yachts/yaht1_mob.jpg, ./img/yachts/yaht1_mob@2x.jpg 2x"
            media="(max-width: 375px)" width="302" height="240" />
        <img src="./img/yachts/yaht1_mob.jpg" alt="classic white-brown yacht" width="304" height="268">
    </picture>
</li>
    <div class="cont">
        <li class="title-arrow">
        <h3>arrow</h3>
    </li>
    <li class="paragraph-luxury">
        <p>luxury yacht</p>
    </li>
</div>
</ul>
</div>
<div class="h3-p-cont">
    <ul class="h3-cont">
        <li>
            <h3>length</h3>
        </li>
        <li>
            <h3>builder</h3>
        </li><li>
            <h3>built</h3>
        </li><li>
            <h3>guests</h3>
        </li><li>
            <h3></h3>
        </li><li>
            <h3>price</h3>
        </li>
    </ul>
        <ul class="p-cont">
            <li><p>48m(155ft) </p></li>
            <li><p>Admiral</p></li>
            <li><p>2021</p></li>
            <li><p>11 in 5 cabins</p></li>
            <li><p>€33,500,000</p></li>
    
        </ul>
</div>
</div>
</section> 