.header {
  border-radius: 8px;
  border: 1px solid #FBFBFB;
  background-color: #FBFBFB;
  position: absolute;
  top: 20px;
  right: 20px;
  left: 20px;
  width: 335px;
  height: 42px;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header {
    width: ;
  }
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.logo {
  color: #1B414B;
font-family: Inter;
font-size: 14px;
font-weight: 500;
letter-spacing: -0.03em;
align-items: center;
}
.nav-links {
  display: none;
}
@media screen and (min-width: 768px) {
  
}
.button-menu {
  height: 28px;
  width: 28px;
  line-height: 0;
background-color: transparent;
border: none;
stroke: #1B414B;
}
.button-svg {
  stroke: #1B414B;

}